* {
    margin: 0px;
    padding: 0px;
}

ul.horizontal {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

li.horizontal-item {
    list-style-type: none;
    background: rgb(85, 85, 161);
    padding: 10px 30px 10px 5px;
    border: rgb(85, 85, 161) solid 2px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

/***********************************************/

ul.vertical {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

li.vertical-item {
    list-style-type: none;
    background: rgb(85, 85, 161);
    padding: 10px 30px 10px 5px;
    margin-right: 100px;
    border: rgb(85, 85, 161) solid 2px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}