* {
    margin: 0px;
    padding: 0px;
}

#container{
    width: 800px;
    height: 800px;
    background: rgb(209, 116, 116);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

div.par {
    background: rgb(218, 197, 152);
    margin: 0;
    padding: 0;
}

div.impar {
    background: rgb(151, 121, 57);
    margin: 0;
    padding: 0;
}